cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
google-api-core==2.2.0
google-auth==2.3.2
google-api-python-client==2.40.0
google-auth-httplib2==0.1.0
google-cloud-storage==1.42.3
google-cloud-core==2.1.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
httplib2==0.20.1
protobuf==3.19.0
idna==3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pytz==2021.3
requests==2.26.0
rsa==4.7.2
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.7
